html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed; /* Change to fixed */
  top: 0; /* Stick to the top of the viewport */
  width: 100%; /* Take up the full width of the viewport */
  z-index: 5000; /* Adjust z-index as needed */
}

.horizontal-logo {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
  align-items: center;
}

.navbar-li {
  display: inline-block;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar-link {
  margin-right: 30px;
  text-decoration: none;
  color: rgb(161, 161, 161);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-input {
  width: 230px;
  height: 30px;
  border: 0px;
  background-color: rgb(230, 242, 252);
  margin-left: 5px;
}

.navbar-border{
  border: 0.3px solid rgb(206, 206, 206);
  margin-right: 10px;
}

.navbar-menu-image{
  border-radius: 10px;
  margin-top: 7px;
}

/* body styling of home page starts from here */
.wrapper {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh; 
  margin-top: 100px;
}

.left-sidebar, .right-sidebar {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 15px;
}

.main-content { 
  padding: 10px;
}

.left-sidebar-top-image{
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
}

.left-sidebar-profile-image{
border-radius: 50px;
}

.center-profile-image{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.user-name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  text-align: center;
}

.user-bio{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.card-border-line{
  border-top: 0.1px solid rgb(209, 209, 209);
  border-bottom: 0.1px solid rgb(209, 209, 209);
}

.horizontal-views-stats, .horizontal-post-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.sales-bottom-border{
  border-bottom: 0.1px solid rgb(209, 209, 209);
  padding-left: 5px;
  padding-right: 5px;
}

.horizontol-myitems{
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.item-text {
  padding-left: 5px;
}

.post-card-image {
  border-radius: 50px;
  margin-left: 10px;
}

.post-card-input{
  width: 400px;
  height: 40px;
  border-radius: 50px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid grey;
}

.post-card-horizontol{
  display: flex;
 
}

.main-post-card {
  box-shadow: 2px 2px 4px 4px rgba(143, 143, 143, 0.3);
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 5px;
}

.horizontol-post-options {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.options-text{
  padding-right: 40px;
  padding-left: 5px;
}

